@model InputModelRegister
@{
    ViewData["Title"] = "Home page";
}
<div class="container p-4">
    <img class='imageUserDetails' src="~/images/aero.png" />
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
